* {
	box-sizing: border-box;
	border: none;
}

body {
	background: #3390FF;
	font-family: Verdana, sans-serif;

}

.logo {
	text-align: center;
	padding-top: 30px;
	margin-bottom: 20px;
}

.logo img {
	height: 35px;
}

.container {
	background: white;
	margin: 0 auto;
	min-width: 400px;
	width: 400px;
	padding: 40px;
	text-align: center;
}

h1 {
	color: #999;
}

fieldset {
	border: none;
}

.first-form {
	text-align: left;
}

.first-form label, .first-form input {
	display: block;
	margin-bottom: 15px;
	width: 100%;
}

.first-form input {
	height: 50px;
	background: #EEE;
	border: 5 px solid #EEE;
	font-size: 1.3em;
	padding-left: 15px;
	border-radius: 2px;
}

.first-form button {
	width: 100%;
	padding: 10px;
	cursor: pointer;
	height: 50px;
	font-size: 1.3em;
	color: white;
	background: #2CDC59;
	border-radius: 2px;
}

button:hover {
	background: #1E933C;
}

.container a {
	color: grey;
	font-size: 12px;
}

a {
	color: white;
}


.log-in {
	text-align: center;
	color: white;
}